<dom-module id="lv-app">
    <style>
        :host {
            @apply(--layout-vertical);
            @apply(--layout-fit);

            --primary-color: var(--paper-blue-grey-500);
            --secondary-color: var(--paper-blue-grey-500);
            --accent-color: var(--paper-blue-grey-500);
            --paper-progress-active-color: var(--paper-blue-grey-500);
        }

        neon-animated-pages {
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }

        neon-animated-pages > * {
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }

        .card-container {
            @apply(--layout-flex);
            @apply(--layout-relative);
            @apply(--layout-center-justified);
            @apply(--layout-scroll);
            background-color: var(--paper-grey-100);
        }

        .card {
            margin: 6px auto 6px auto;
            width: 100%;
            max-width: 600px;
            --paper-card-header-image: {
                padding: 16px;
                width: 80%;
            };
        }

        paper-radio-group {
            display: block;
        }

        paper-radio-button {
            display: block;
        }

        paper-button {
            background-color: var(--paper-blue-grey-500);
            color: white;
        }

        .code-big {
            font-size: 24px;
            font-weight: bold;
        }

    </style>
    <template>
        <paper-toolbar>
            <span slot="top" class="title">Let's Vote</span>
            <template is="dom-if" if="[[isLoading]]">
                <paper-progress slot="middle" class="fit"
                                indeterminate></paper-progress>
            </template>
            <template is="dom-if" if="[[canStartOver]]">
                <paper-button slot="top" on-tap="handleStartOver">Start Over</paper-button>
            </template>
        </paper-toolbar>
        <div class="card-container">
            <neon-animated-pages selected="[[currentPageIndex]]"
                                 entry-animation="[[entryAnimation]]"
                                 exit-animation="[[exitAnimation]]">
                <neon-animatable>
                    <paper-card class="card" image="/letsvote-logo.png"
                                alt="Let's Vote">
                        <!-- Page.home -->
                        <div class="card-content">
                            <p>Create a new vote or join an existing
                                vote</p>
                            <paper-button raised on-tap="handleStartCreate"
                                          disabled="[[isLoading]]">Create
                            </paper-button>
                            <paper-button raised on-tap="handleStartJoin"
                                          disabled="[[isLoading]]">Join
                            </paper-button>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.create -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Create a new vote:</p>
                            <paper-input placeholder="Enter a topic"
                                         value="{{createTopic}}"></paper-input>
                            <paper-button raised on-tap="handleCreate"
                                          disabled="[[isLoading]]">Submit
                            </paper-button>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.joining -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Enter the code for your vote:</p>
                            <paper-input placeholder="4-letter code"
                                         value="{{enteredCode}}"
                                         maxlength="4"></paper-input>
                            <paper-button raised on-tap="handleJoin"
                                          disabled="[[isLoading]]">Submit
                            </paper-button>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.username -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Your election code is <span class="code-big">[[code]]</span></p>
                            <p>Enter your name:</p>
                            <paper-input placeholder="John Doe"
                                         value="{{enteredUsername}}"></paper-input>
                            <paper-button raised on-tap="handleNameEntered"
                                          disabled="[[isLoading]]">Submit
                            </paper-button>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.ideaSubmission -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Your election code is <span class="code-big">[[code]]</span></p>
                            <h3>[[topic]]</h3>
                            <p>Enter an idea:</p>
                            <paper-input placeholder="Idea"
                                         value="{{enteredIdea}}"></paper-input>
                            <paper-button raised on-tap="handleIdeaEntered"
                                          disabled="[[isLoading]]">Submit
                            </paper-button>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.ballot -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Your election code is <span class="code-big">[[code]]</span></p>
                            <h3>[[topic]]</h3>
                            <p>You don't have to vote yet! More options may
                                appear.</p>
                            <paper-radio-group selected="{{selectedVoteIdea}}">
                                <template is="dom-repeat" items="[[voteIdeas]]"
                                          as="idea">
                                    <paper-radio-button name="[[idea]]">[[idea]]
                                    </paper-radio-button>
                                </template>
                            </paper-radio-group>
                            <paper-button raised on-tap="handleVoteEntered"
                                          disabled="[[isLoading]]">Vote
                            </paper-button>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.waitingForVotes -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Your election code is <span class="code-big">[[code]]</span></p>
                            <h3>[[topic]]</h3>
                            <p>waiting for the polls to close...</p>
                            <template is="dom-if" if="[[isCreator]]">
                                <paper-button raised on-tap="closePolls"
                                              disabled="[[isLoading]]">Close
                                    Polls
                                </paper-button>
                            </template>
                        </div>
                    </paper-card>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.result -->
                    <paper-card class="card">
                        <div class="card-content">
                            <p>Your election code is <span class="code-big">[[code]]</span></p>
                            <h3>[[topic]]</h3>
                            <p>Winner: [[winner]]</p>
                            <p>Author: [[winnerAuthor]]</p>
                            <p>Votes: [[winnerVotes]]</p>
                        </div>
                    </paper-card>
                </neon-animatable>
            </neon-animated-pages>
        </div>
        <paper-dialog id="dialog" modal>
            <p>[[dialogMessage]]</p>
            <paper-button dialog-dismiss>Ok</paper-button>
        </paper-dialog>
    </template>
</dom-module>