<dom-module id="lv-app">
    <style>
        :host {
            @apply(--layout-vertical);
            @apply(--layout-fit);
        }

        neon-animated-pages {
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }
    </style>
    <template>
        <template is="dom-if" if="[[isLoading]]">
            <paper-spinner active></paper-spinner>
        </template>
        <template is="dom-if" if="[[!isLoading]]">
            <neon-animated-pages selected="[[currentPageIndex]]"
                                 entry-animation="slide-from-right-animation"
                                 exit-animation="slide-left-animation">
                <neon-animatable>
                    <!-- Page.home -->
                    <h1>Let's Vote!</h1>
                    <p>Create a new vote or join an existing vote</p>
                    <paper-button on-tap="handleStartCreate">Create
                    </paper-button>
                    <paper-button on-tap="handleStartJoin">Join</paper-button>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.create -->
                    <p>Create a new vote:</p>
                    <paper-input placeholder="Enter a topic"
                                 value="{{createTopic}}"></paper-input>
                    <paper-button on-tap="handleCreate">Submit
                    </paper-button>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.joining -->
                    <p>Enter the code for your vote:</p>
                    <paper-input placeholder="4-letter code"
                                 value="{{enteredCode}}"
                                 maxlength="4"></paper-input>
                    <paper-button on-tap="handleJoin">Submit
                    </paper-button>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.username -->
                    <p>code: [[code]]</p>
                    <p>Enter your name:</p>
                    <paper-input placeholder="John Doe"
                                 value="{{enteredUsername}}"></paper-input>
                    <paper-button on-tap="handleNameEntered">Submit
                    </paper-button>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.ideaSubmission -->
                    <p>code: [[code]]</p>
                    <p>Topic: [[topic]]</p>
                    <p>Enter an idea:</p>
                    <paper-input placeholder="Idea"
                                 value="{{enteredIdea}}"></paper-input>
                    <paper-button on-tap="handleIdeaEntered">Submit
                    </paper-button>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.ballot -->
                    <p>code: [[code]]</p>
                    <p>Topic: [[topic]]</p>
                    <paper-radio-group selected="{{selectedVoteIdea}}">
                        <template is="dom-repeat" items="[[voteIdeas]]"
                                  as="idea">
                            <paper-radio-button name="[[idea]]">[[idea]]
                            </paper-radio-button>
                        </template>
                    </paper-radio-group>
                    <paper-button on-tap="handleVoteEntered">Vote</paper-button>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.waitingForVotes -->
                    <p>code: [[code]]</p>
                    <p>Topic: [[topic]]</p>
                    <template is="dom-if" if="[[isCreator]]">
                        <paper-button on-tap="closePolls">Close Polls
                        </paper-button>
                    </template>
                    <p>waiting for the polls to close...</p>
                </neon-animatable>
                <neon-animatable>
                    <!-- Page.result -->
                    <p>code: [[code]]</p>
                    <p>Topic: [[topic]]</p>
                    <p>Winner: [[winner]]</p>
                    <p>Author: [[winnerAuthor]]</p>
                    <p>Votes: [[winnerVotes]]</p>
                </neon-animatable>
            </neon-animated-pages>
        </template>
    </template>
</dom-module>